@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
  html {
    @apply bg-backdrop;
  }
  .\[appearance\:none\] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .divide-opacity-50 {
    --divide-opacity: 0.5;
  }
  @media print {
    html,
    body {
      display: none; /* hide whole page */
    }
  }
  div[class^="cl-internal-"]:not([class*=" "]),
  div[class*=" cl-internal-"]:not([class*=" "]) {
    display: none;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
